# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
audit-env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files
*.csv
*.h5

# Logs
*.log

# OS-specific files
.DS_Store
